<div [formGroup]="characterForm" class="wrap">
  <label for="charInput" class="callouts">Inside Callouts</label>
  <input
    style="width: 60%; margin: 0 auto 0 auto; border-radius: 20px"
    placeholder="CST *max 3 char*"
    id="charInput"
    formControlName="charInput"
    (input)="onInputChange($event)"
    maxlength="3"
    type="text"
  />
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
<div class="grid-container">
  <app-select-card
    class="card1"
    id="card1"
    [index]="1"
    [titleCard]="nameArray[1]"
    (shapeSelected)="onShapeSelected($event)"
  ></app-select-card>
  <app-select-card
    class="card2"
    id="card2"
    [index]="2"
    [titleCard]="nameArray[2]"
    (shapeSelected)="onShapeSelected($event)"
  ></app-select-card>
  <app-select-card
    class="card3"
    id="card3"
    [index]="3"
    [titleCard]="nameArray[0]"
    (shapeSelected)="onShapeSelected($event)"
  ></app-select-card>
</div>
<div class="form-floating">
  <div
    *ngIf="steps.length > 0"
    class="form-control w-50"
    style="resize: none; border: solid; border-color: gray; height: 150px"
    id="resultTextarea"
  >
    <p style="font-weight: bold">Steps</p>
    <div *ngIf="steps.length > 0">
      <div *ngFor="let step of steps">{{ step }}</div>
    </div>    
  </div>
</div>
