<div [formGroup]="characterForm" class="wrap">
  <label for="charInput" class="callouts">Inside Callouts</label>
  <input
    style="width: 60%; margin: 0 auto 0 auto; border-radius: 20px;"
    placeholder="CST"
    id="charInput"
    formControlName="charInput"
    (input)="onInput()"
    maxlength="3"
    type="text"
  />
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
<div class="grid-container">
  <app-select-card
    *ngFor="let card of cardArray"
    class="card{{ card }}"
  ></app-select-card>
</div>
