<div [formGroup]="characterForm" class="wrap">
  <label for="charInput" class="callouts">Inside Callouts</label>
  <input
    style="width: 60%; margin: 0 auto 0 auto; border-radius: 20px"
    placeholder="CST *max 3 char*"
    id="charInput"
    formControlName="charInput"
    (input)="onInput()"
    maxlength="3"
    type="text"
  />
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
<div class="grid-container">
  <app-select-card
    *ngFor="let card of cardArray"
    class="card{{ card }}"
    (ngModel)="(card)"
  ></app-select-card>
</div>

<div class="text-area">
  <label for="steps">Steps</label>
  <textarea id="steps" rows="4" cols="50" disabled>
  (input risultati step)
  </textarea>
</div>
