.select-image{
    width: 4rem;
    height: 4rem;
}
.btn-card{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.card-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.card{
    margin: 0 auto 0 auto;
    width: fit-content;
    box-shadow: 10px 10px 5px ;
    border-radius: 20px;
    padding: 1rem;
}
.select{
    width: 80%;
    margin: 10px auto 10px auto;
}
.select-wrap{
    display: flex;
}
.btn-card :active{
    width: 3.5rem;
    height: 3.5rem;
}
.selected{
    background-color:gray;
}
