<div class="card">
<input type="text" name="inside callouts" id="insidecallouts">
<div class="card-wrap">
      <button class="btn-card"><img class="select-image" src="assets/images/circle_1.jpg" alt="circle" /></button>
      <button class="btn-card"><img class="select-image" src="assets/images/square_1.jpg" alt="square" /></button>
      <button class="btn-card"><img class="select-image" src="assets/images/triangle_1.jpg" alt="triangle" /></button>
</div>
  <select class="select" name="figure" id="figure">
    <option value=""></option>
    <option value="cirle">circle</option>
    <option value="square">square</option>
    <option value="triangle">triangle</option>
  </select>
</div>