.select-image{
    width: 2rem;
    height: 2rem;
}
.btn-card{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.card{
    margin: 0 auto 0 auto;
    width: fit-content;
    border: 3px solid black;
}