<div class="card">
  <p [textContent]="titleCard"></p>
  <div class="card-wrap">
    <button
      class="btn-card"
      [ngClass]="{ selected: selectedCard === SHAPE_IDS.Circle }"
      (click)="select(SHAPE_IDS.Circle); setOptionValue('Circle')"
    >
      <img class="select-image" src="assets/images/circle.svg" alt="circle" />
    </button>
    <button
      class="btn-card"
      [ngClass]="{ selected: selectedCard === SHAPE_IDS.Square }"
      (click)="select(SHAPE_IDS.Square); setOptionValue('Square')"
    >
      <img class="select-image" src="assets/images/square.svg" alt="square" />
    </button>
    <button
      class="btn-card"
      [ngClass]="{ selected: selectedCard === SHAPE_IDS.Triangle }"
      (click)="select(SHAPE_IDS.Triangle); setOptionValue('Triangle')"
    >
      <img
        class="select-image"
        src="assets/images/triangle.svg"
        alt="triangle"
      />
    </button>
  </div>
  <div class="select-wrap">
    <select
      style="width: 100%"
      (change)="onOptionSelected($event, index)"
      [(ngModel)]="selectedShape"
      id="{{ index }}"
    >
      <option value="Circle">Circle</option>
      <option value="Square">Square</option>
      <option value="Triangle">Triangle</option>
    </select>
  </div>
</div>